#container {
  width: 100%;
  height: 100vh;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  position: relative;
  animation: change 10s ease-in-out infinite;
}

#background {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}

@keyframes change {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.icone {
}

.icone:hover {
  animation: icone 1s ease-in-out infinite;
}

@keyframes icone {
  0% {
    font-size: 40px;
  }
  50% {
    font-size: 60px;
  }
  100% {
    font-size: 40px;
  }
}

#cronometro > * {
  color: #000;
}

#cronometro > a:nth-child(3) {
  color: #fff;
}

#tempo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* #tempo > * {
  color: white;
} */

#cronometro > tempo,
#cronometro > botoes {
  justify-self: center !important;
  align-self: center;
}

.hidden {
  display: none !important;
}

.opacity-0 {
  opacity: 0;
  visibility: hidden;
}

.tool-box {
  height: 100vh;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  transition: opacity 600ms, visibility 600ms;
}

.d-none {
  display: none !important;
}

.btn-red {
  background-color: #e74c3c;
}

.btn-green {
  background-color: #27ae60;
}
