button {
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;

    margin: 0 10px !important;
    margin-bottom: 50px !important;
    
    height: 45px;
    width: 120px;

    background-color: #375d68;
    color: #fff !important;

    font-size: 1.2rem !important;
}